@import './normalize.css';

.master_node {
	padding: 3em;
	display: flex;
	flex-flow: row nowrap;
	
	* {
		box-sizing: border-box;
	}

	.canvas_holder {
		canvas {
			box-shadow: cadetblue 0px 2px 8px;
		}
	}


	.tile_palette {
		height: 325px;
		width: calc(100px + 23px + 17px);
		margin-left: 50px;

		border: 3px solid black;
		border-radius: 3px;
	
		background: white;
		
		flex-shrink: 0;
		
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		overflow-y: scroll;
		
// 		&::-webkit-scrollbar {
// 			width: 0px;  /* remove scrollbar space */
// 			background: transparent;  /* optional: just make scrollbar invisible */
// 		}
// 		/* optional: show position indicator in red */
// 		&::-webkit-scrollbar-thumb {
// 			background: #FF0000;
// 			width:10px;
// 		}
		
		.tile_cell {
			width: 100px;
			height: 100px;
			flex-shrink: 0;
			margin: 12px;
			margin-bottom: 0px;
			background: aliceblue;
			
			&:last-of-type {
				margin-bottom: 12px;
			}
		}		
	}
}